html {
    overflow: hidden;
}

#info {
    position: absolute;
    margin-top: 7%;
    height: 84.5%;
    left: 15.3%;
    width: 84.7%;
    overflow-y: hidden;
}

#logo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 15%;
    height: 15%;
    background-color: #DEDFDF;
    border-right: thick solid #000000;
}

#teamList {
    position: absolute;
    left: 0px;
    top: 15%;
    width: 15%;
    height: 75%;
    background-color: #DEDFDF;
    border-top: solid #000000;
    border-right: thick solid #000000;
}

#teamListFrame {
    height: 150px;
    width: 95%;
    margin-left: 5%;
    border: 0;
}

#login {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 15%;
    height: 10%;
    background-color: #DEDFDF;
    border-top: solid #000000;
    border-right: thick solid #000000;
}

#logoimage {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 100px;
}

#logosub {
    position: absolute;
    right: 2%;
    top: 5%;

}

#header, #scoring, #robot, #contacts, #team, #misc {

    background-color: #DEDFDF;

}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 25%;
    text-align: center;

}

#scoring {
    position: absolute;
    top: 10%;
    left: 0%;
    height: 50%;
    width: 25%;
}
#robot {
    position: absolute;
    top: 60%;
    left: 0%;
    height: 12.5%;
    width: 8.33333%;
    background-color: #B5000D;
}
#contacts {
    position: absolute;
    top: 60%;
    left: 8.34%;
    height: 12.5%;
    width: 8.34%;
    background-color: #D1CE17;

}
#wins {
    position: absolute;
    top: 60%;
    left: 16.67%;
    height: 12.5%;
    width: 8.34%;
    background-color: #0244AD;
}
#team {
    position: absolute;
    visibility: hidden;
}
#misc {
    position: absolute;
    visibility: hidden;
}
.input {
    position: absolute;
}

#topBar {
    position: absolute;
    margin-left: 14.8%;
    top: 0px;
    border: 0px;
    width: 84.7%;
    height: 15%;
    border-bottom: solid #000000;
    background-color: #DEDFDF;
}

ul {
    font-size: 4em;
    list-style-type: none;
    overflow: auto;
    padding: 0;
    margin: 0;
}
ul li {
    float: left;
    border: 1px solid #000000;
    margin: 20px 5px;
    height: 100%;
    width: 24%;
    text-align: center;
}
ul li a {
    display: block;
    text-decoration: none;
}
ul li a:hover {
    
}

.clickableButton:hover {
    background-color: gray;
}

.currentButton {
    background-color: gray;
}

.framesThin {
    width: 47%;
    height: 95%;
    margin: 1.5% 0px 0px 2%;
    border: 2px;
    border-color: black;
    border-style: dotted;
    border-radius: 15px;
    overflow: hidden;
    scrolling: no;
    frameborder: 0;
}

.framesWide {
    width: 96.45%;
    height: 95%;
    margin: 1.5% 0px 0px 2%;
    border: 2px;
    border-color: black;
    border-style: dotted;
    border-radius: 15px;
    overflow: hidden;
    scrolling: no;
    frameborder: 0;
}